.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url("../img/main.jpg") center (center/cover) no-repeat;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;
    }
    &__header {
        color: #ffffff;
        font-size: 42px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 42px;
    }
    &__subheader {
        margin-top: 17px;
        color: #ffffff;
        font-size: 24px;
        line-height: 24px;
        font-weight: 500;
        text-transform: uppercase;
    }
    &__icons {
        margin-top: 65px;
        width: 425px;
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        width: 108px;
        text-align: center;
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    &__link {
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        margin-top: 18px;
        a {
            color: #ffffff;
            text-transform: uppercase;
            text-decoration: underline;
        }
    }
}

@media (max-width: 768px) {
    .promo {
        &__header {
            font-size: 36px;
            line-height: 36px;
        }
    }
}

@media (max-width: 575px) {
    .promo {
        padding-bottom: 50px;
        background: url(../img/main.jpg) left 37% bottom/cover no-repeat;
        &__wrapper {
            margin-top: 50px;
            align-items: center;
        }
        &__header {
            font-size: 28px;
            line-height: 32px;
        }
        &__subheader {
            font-size: 16px;
            line-height: 18px;
        }
        &__icons {
            margin-top: 30px;
            width: 300px;
            display: flex;
            justify-content: space-between;
        }
        &__icon {
            width: 87px;
            font-size: 11px;
        }
    }
}